<svg width="250" height="1000" version="1.1" viewBox="0 0 250 100" xmlns="http://www.w3.org/2000/svg">
    <use href="#flyer" transform="scale(.85, .85)" x="150" fill="lightgrey"/>
    <use href="#flyer" transform="scale(.88, .88)" x="120" fill="darkgrey"/>
    <use href="#flyer" transform="scale(.91, .91)" x="-90" fill="grey"/>
    <use href="#flyer" transform="scale(.94, .94)" x="-60" fill="lightblue"/>
    <use href="#flyer" transform="scale(.97, .97)" x="-30" fill="blue"/>
    <use href="#flyer" transform="scale(.99, .99)" x="-10" fill="darkblue"/>
    <text id="flyer" x="0" y="-0" writing-mode="tb-rl">
        <tspan stroke-width=".26458" style="text-orientation:upright">
            PKFLYER
        </tspan>
    </text>
</svg>