.marquee-col svg {
    width: 100%;
    height: 100vh; 
    /* width: 100px; */
    /* background: red; */
}
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background: var(--background);
    color: var(--body-text);
}
.container {
    padding: 0 30px;
}
@media only screen and (min-width: 768px) {
    .layout {
        display: flex;
    }
    .marquee-col {
        width: 20%;
        position: sticky;
        top: 0;
        max-height: 100vh;
    }
    .main-col {
        flex: 1;
        margin-left: 30px;
        padding: 30px 0 30px 30px;
        border-left: 10px solid var(--primary);
    }
    
}
.grid {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
}
.grid > * {
    padding: 15px;
    width: 50%;
    /* max-width: 700px; */
    margin: auto;
    box-sizing: border-box;
}
.grid > *:first-child {
    width: 100%;
}


.flex-sc-iframe {
    padding-bottom: 100%;
    
}

.embed {
    position: relative;
}
.embed iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

.embed-sc {
    padding-bottom: 100%;
 }
 .embed-video {
     padding-bottom: 56.25%;
 }

 h1      { font-size: 2em;       /* 2*16 = 32 */         }
h2      { font-size: 1.5em;     /* 1.5*16 = 24 */       }
h3      { font-size: 1.17em;    /* 1.17*16 = 18.72 */   }
h4      { font-size: 1em;       /* 1*16 = 16 */         }
h5      { font-size: 0.83em;    /* 0.83*16 = 13.28 */   }
h6      { font-size: 0.75em;    /* 0.75*16 = 12 */      }

p { line-height: 1.5;
    margin: 0 0 1em;    }

    strong  {   font-weight: bold;  }
em      {   font-style: italic; }