<!DOCTYPE html>
<html>
  {{- partial "head.html" . -}}
  <body class="{{ .Kind }} {{ .Layout }}">
    
    <div id="content">
      <div class="container">
        <div class="layout">
          <div class="marquee-col">
            <div class="hide-xs">
              {{- partial "nav.html" . -}}
            </div>
            <a class="homeLink" href="{{ .Site.BaseURL }}">
              {{- partial "marquee.svg" . -}}
            </a>
          </div>
          <div class="main-col page-content">{{- block "main" . }}{{- end }}</div>
        </div>
      </div>
    </div>
    {{- partial "footer.html" . -}}
  </body>
</html>
