:root {
  --light: aquamarine;
  --dark: #43bbaddb;
  --pop-accent: #f0f;
  --black: black;
  --music-preview-color: yellow;
  --event-preview-color: plum;
  --painting-preview-color: burlywood;
  --no-action-accent: red;
}