body {
    display: grid;
    justify-content: center;
}

html {
    min-height: 100vh;
    background-color: var(--light);
}

svg {
    height: 100%;
    width: 100%;
}

.logo-text-pk {
    font-family: sans-serif;
    writing-mode: tb-rl;
    fill: #ffc0cb;
    stroke: #0000ff;
    stroke-width: 1.00157;
    stroke-dasharray: none;
    stroke-opacity: 1;
    filter: url(#offset)
}

.logo-grid {
    gap: .5rem;
}

.logo-grid img {
    max-height: 66vh;
    border-bottom: 1rem;
    border-bottom-style: double;
}

footer {
    border-top: .2rem;
    border-top-style: solid;
}

.footer-accent {
    background-color: var(--pop-accent);
}

.round-border {
    border-radius: 9999px;
}

.logo {
    padding-bottom: 1rem;
    border-bottom: .4rem;
    border-bottom-style: double;
}

img {
    object-fit: contain;
}

.pkflyer-logo {
    filter: drop-shadow(1px 2px 3px black);
}

.text-pk path {
    fill: var(--pop-accent);
    stroke: var(--black);
    stroke-width: .75;
}

.preview-pane {
    border-radius: 1rem;
}

.music-preview-pane {
    background-color: var(--music-preview-color);
}

.events-preview-pane {
    background-color: var(--event-preview-color);
}

.accent-border {
    border: 3px solid var(--black);
}