body {
    display: grid;
    justify-content: center;
}

html {
    min-height: 100vh;
    background-color: var(--light);
}

.container {
    max-width: 65ch;
    padding: 0 1rem;
}

.logo-text-pk {
    font-family: sans-serif;
    writing-mode: tb-rl;
    fill: #ffc0cb;
    stroke: #0000ff;
    stroke-width: 1.00157;
    stroke-dasharray: none;
    stroke-opacity: 1;
    filter: url(#offset)
}

.logo-grid {
    gap: .5rem;
}

.logo-grid img {
    max-height: 66vh;
    border-bottom: 1rem;
    border-bottom-style: double;
}

.logo {
    padding-bottom: 1rem;
    border-bottom: .4rem;
    border-bottom-style: double;
}

img {
    object-fit: contain;
}

.pkflyer-logo {
    filter: drop-shadow(1px 2px 3px black);
}

.text-pk path {
    font-size: 32.9418px;
    writing-mode: tb-rl;
    fill: #ff00ff;
    stroke: #000000;
    stroke-width: .75;
}