@font-face {
    font-family: "Header Font";
    src: url("/fonts/JosefinSans-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Body Font";
    src: url("/fonts/Inter-VariableFont_slnt,wght.ttf");
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Header Font", sans-serif;
}

body {
    font-family: "Body Font", serif;
}

.font-weight-600 {
    font-weight: 600;
}

.wrap-balance {
    text-wrap: balance;
}

.underline {
    text-decoration: underline;
}

.underline-headers h1, .underline-headers h2 {
    text-decoration: underline;
}