:root {
    --small-gap: 1rem;
    --medium-gap: 2rem;
    --large-gap: 4rem;
}

.mt-sm {
    margin-top: var(--small-gap);
}

.ma-sm {
    margin: var(--small-gap);
}

.ma-md {
    margin: var(--medium-gap);
}

.height-lg {
    height: var(--large-gap);
}