:root {
    --shadow-color: rgba(0, 0, 0, 0.11);
}

.sm-shadow {
    box-shadow: 0 1px 1px var(--shadow-color), 
    0 2px 2px var(--shadow-color), 
    0 4px 4px var(--shadow-color), 
    0 6px 8px var(--shadow-color),
    0 8px 16px var(--shadow-color);
}

.md-shadow {
    box-shadow: 0 2px 1px var(--shadow-color), 
    0 4px 2px var(--shadow-color), 
    0 8px 4px var(--shadow-color), 
    0 16px 8px var(--shadow-color),
    0 32px 16px var(--shadow-color);
}