:root {
    --double-extra-small-gap: .25rem;
    --extra-small-gap: .5rem;
    --small-gap: 1rem;
    --medium-gap: 2rem;
    --large-gap: 4rem;
    --large-character-width: 65ch;
    --medium-character-width: 40ch;
    --small-character-width: 20ch;
    --almost-full-width: 85%;
}

.mt-sm {
    margin-top: var(--small-gap);
}

.mb-sm {
    margin-bottom: var(--small-gap);
}

.mb-none {
    margin-bottom: 0;
}

.mv-auto {
    margin-left: auto;
    margin-right: auto;
}

.ma-xxsm {
    margin: var(--double-extra-small-gap)
}

.ma-xsm {
    margin: var(--extra-small-gap)
}

.ma-sm {
    margin: var(--small-gap);
}

.ma-md {
    margin: var(--medium-gap);
}

.ma-md {
    margin: var(--medium-gap);
}

.pa-xsm {
    padding: var(--extra-small-gap);
}

.pa-sm {
    padding: var(--small-gap);
}

.pv-sm {
    padding-left: var(--small-gap);
    padding-right: var(--small-gap);
}

.pa-md {
    padding: var(--medium-gap);
}

.height-sm {
    height: var(--small-gap);
}

.height-md {
    height: var(--medium-gap);
}

.max-width-sm {
    max-width: var(--small-character-width);
}

.width-wide {
    width: var(--almost-full-width);
}

.height-lg {
    height: var(--large-gap);
}

.max-width-md {
    max-width: var(--medium-character-width);
}

.max-width-lg {
    max-width: var(--large-character-width);
}

.gap-xsm {
    gap: var(--extra-small-gap);
}

.gap-sm {
    gap: var(--small-gap);
}

.gap-md {
    gap: var(--medium-gap);
}