.navigation-link:hover,
.navigation-link:focus {
    animation: wiggle-item;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

@keyframes wiggle-item {
    0% {
        transform: rotate(7deg);
    }

    25% {
        transform: rotate(-13deg);
    }

    50% {
        transform: rotate(16deg);
    }

    75% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}