{{ define "main" }}
<div class="grid logo-grid container tc">
    {{ with resources.Get "images/header.png" }}
    {{ partial "image" . }}
    {{ end }}
    <div class="logo">
        {{ partial "svg/horizontal_pk_flyer_logo.svg" . }}
    </div>
</div>
<div class="grid tc">
    {{ range .Sections }}
    <h2 class="full-width-grid tc">{{ .Title }}</h2>
        {{ range .Sections }}
            {{ partial "album/albumCover.html" . }}
        {{ end }}
    {{ end }}
</div>
<script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>
{{ end }}