{{ define "main" }}
<div class="grid logo-grid container tc">
  {{ with resources.Get "images/header.png" }} {{ partial "image" . }} {{ end }}
  <div class="logo">{{ partial "svg/horizontal_pk_flyer_logo.svg" . }}</div>
</div>
<div class="flex direction-column gap-sm tc">
  {{ range .Sections }}
  <h2 class="tc mb-none">{{ .Title }}</h2>
  <div class="flex direction-column justify-center align-center gap-sm">
    {{ if eq (.Section) "music" }} {{ range first 1 .RegularPages }} {{ partial "music/music_preview_pane" . }}
  {{ end }} {{ else if eq (.Section) "events" }}
    {{ partial "event/upcoming_events.html" . }}
  {{ else if eq (.Section) "painting" }}
  <div class="flex direction-column justify-center align-center gap-sm">
    {{ range .Pages }}
    {{ partial "painting/painting_preview_pane" . }}
    {{ end }}
  </div>
 {{ end }}
  <div class="flex justify-center align-center gap-sm mb-sm">
    {{ partial "internal-link" . }}
  </div>
</div>
{{ end }}
<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", (user) => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
{{ end }}
